@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="/css/login.css" />

<div class="form-container">
    <div class="inputs-container">
        <form id="account" method="post">
            <div class="form-group">
                <div class="validation-messages" asp-validation-summary="All"></div>
                <label asp-for="Input.Username">Username</label>
                <input asp-for="Input.Username" id="email-input" type="text" class="form-control" placeholder="Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" id="password-input" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.RememberMe" type="checkbox" />
                <label asp-for="Input.RememberMe">Remember me</label>
            </div>
            <button id="submit-btn" type="submit" class="btn btn-primary mb-3">Login</button>
            <a id="register-now" asp-area="Identity" asp-page="/Account/Register">No account? Register now</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
