@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="/css/login.css" />

<div class="form-container">
    <div class="inputs-container">
        <form>
            <h4 id="form-title" class="mb-3">Login</h4>
            <div class="form-group">
                <label for="email-input">Username</label>
                <input id="email-input" type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input id="password-input" type="text" class="form-control" placeholder="Password" />
            </div>
            <button id="submit-btn" type="submit" class="btn btn-primary mb-3 mt-3">Login</button>
            <a id="register-now" asp-area="Identity" asp-page="/Account/Register">No account? Register now</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
