@page
@model OldRegisterModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="/css/login.css" />

<div class="form-container">
    <div class="inputs-container">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 id="form-title">Register</h4>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="submit-btn" type="submit" class="btn btn-primary mb-3 mt-3">Register</button>
            <a id="register-now" asp-area="Identity" asp-page="/Account/Login">Back to login</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
