$card-height: 76px;
$card-width: 52px;

body {
    background: #011A9E;
}

#game {
    position: absolute;
    align-items: center;
    margin-top: 1vh;
    margin-left: 40vh;
    margin-right: 40vh;
}

.user-info {
    position: relative;
    height: 15vh;
    width: 22vw;
    background-color: black;
}

.life-points-container {
    position: relative;
    background-color: blue;
    margin-left: 4vh;
    width: 13vw;
    height: 3vh;
    display: inline-block;
}

.life-points {
    text-align: center;
    color: white;
    font-family: Impact;
}

.profile {
    display: inline-block;
    margin-top: 2vh;
    margin-left: 2vh
}

.avatar {
    width: 5vw;
    height: 10vh;
}

.playzone {
    background-color: black;
    margin-top: 4vh;
    border-radius: 20px;
}

.card-slot {
    width: $card-width;
    height: $card-height;
    display: inline-block;
    margin-left: 4vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    background-color: #C4C4C4;
}

.blank-slot {
    width: $card-width;
    height: $card-height;
    display: inline-block;
    margin-left: 4vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#opponent-deck {
    background: url(../img/card-upside-down-inverted.png) no-repeat;
    background-size: contain;
}

#my-deck {
    background: url(../img/card-upside-down.png) no-repeat;
    background-size: contain;
}

#middle-profiles {
    color: white;
    font-family: Impact;
    text-align: center;
    align-items: center;
    border: 4px dotted blue;
}

#phase-buttons {
    align-items: center;
}