@layout EmptyLayout
@page "/"

<link rel="stylesheet" href="/css/login.css" />

<div class="form-container">
    <label>Username</label>
    <input type="text" placeholder="username"/> <br />
    <label>Password</label>
    <input type="text" placeholder="password" />
</div>


@code {

}
